/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "../colors";

h1, h2, h3, h4, h5, h6 {
	color: $dark-red;
	margin: 0 0 .1em 0;

	& + p {
		page-break-before: avoid-page;
		break-before: avoid-page;
	}

	@if $supportsNight {
		.night & {
			color: $light-red;
		}
	}

	* + & {
		margin-top: .5em;
	}
}

h1 {
	border-bottom: 1px $dark-red solid;

	@if $supportsNight {
		.night & {
			border-bottom-color: $light-red;
		}
	}
}

code {
	font-size: 1rem;
}