/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "../colors";

.star {
	visibility: hidden;
	transform: translateY(-100%);
	transition: transform 1s;
	position: absolute;
	top: 0;
	left: 0;
	height: 80em;
	width: 80em;
	max-width: 50%;
	background: radial-gradient(circle closest-side at center, $light-yellow 0%, $white 10%, transparent 100%);
	transform: translateX(-50%) translateY(-100%);

	@if $supportsNight {
		.night & {
			max-width: 15%;
			background: radial-gradient(circle closest-side at center, rgba($white, .8) 0%, rgba($white, .8) 50%, transparent 100%);
		}
	}
}

.stage--ready .star {
	visibility: visible;
	transform: translateX(-50%) translateY(-50%);
}
