/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
$light-red: #ff662e;
$dark-red: #b2100f;
$light-yellow: #FFF250;
$dark-yellow: #5d5c00;
$light-green: #3AE55E;
$dark-green: #005500;
$light-blue: #52d1ff;
$sky-blue: #a6e7ff;
$night-blue: #093966;
$dark-blue: #003391;
$light-purple: #ea97fb;
$dark-purple: #7d11a8;
$light-brown: #E8B47E;
$dark-brown: #854a0f;
$light-grey: #bebebe;
$dark-grey: #4b4b4b;
$light-font: #282828;
$dark-font: #E8E8E8;
$white: #FFFFFF;
$black: #000000;
