/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$supportsNight: false;

@import "colors";
@import "elements/headings";
@import "components/markdown";
@import "components/chroma";

body {
	color: $light-font;
	font-family: sans-serif;
	font-size: 12px;
}

body > .stage {
	padding: 0;
	margin: 0;
}

body header {
	display: none;
}

.refresh {
	display: none;
}

.sky {
	display: none;
}

.mountain {
	display: none;
}

.ground {
	display: none;
}

p {
	text-indent: 2em;
	margin: 0;
}

ul {
	padding-left: 4em;
	margin: 0;
}

.chroma .lntd:first-child {
	border-right: 1px solid black;
}

.chroma .lntd:last-child {
	padding-left: 1em;
}