/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$supportsNight: true;

@import "colors";
@import "elements";
@import "components";

body {
	background-color: $sky-blue;
	color: $light-font;
	font-family: sans-serif;
	margin: 0;
	transition: .5s background-color, .5s color;

	&.night {
		background-color: $night-blue;
		color: $dark-font;
	}

	& > .stage {
		min-height: 100vh;
		z-index: 1;
		padding: 1em 0 20em 0;
		position: relative;

		& > .cloud {
			max-width: 50rem;
			margin: 0 auto;
		}
	}

	& > .mountain {
		height: 0;
		z-index: 2;
		position: sticky;
		width: 100%;
		bottom: 0;
		pointer-events: none;
	}

	& > .sky {
		height: 0;
		z-index: 0;
		position: sticky;
		width: 100%;
		bottom: 0;
		transform: translateY(-100vh);
	}
}
