/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

$supportsNight: true;

@use "colors";
@use "elements" with ($supportsNight: $supportsNight);
@use "components" with ($supportsNight: $supportsNight);

body {
	color: colors.$light-font;
	background-color: colors.$light-brown;
	font-family: sans-serif;
	margin: 0;

	&.night {
		color: colors.$dark-font;
	}

	& > .stage {
		min-height: 100vh;
		z-index: 1;
		padding: 1em 0 20em 0;
		position: relative;

		& > .cloud {
			max-width: 50rem;
			margin: 0 auto;
		}
	}

	& > .mountain {
		height: 0;
		z-index: 2;
		position: sticky;
		width: 100%;
		bottom: 0;
		pointer-events: none;
	}

	& > .sky {
		height: 0;
		z-index: 0;
		position: sticky;
		width: 100%;
		bottom: 0;
		transform: translateY(-100vh);
	}
}
