/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */
@import "../colors";

.chroma {
	// Background
	color: $light-font;
	background-color: rgba($white, .6);
	overflow-x: auto;

	@if $supportsNight {
		.night & {
			color: $dark-font;
			background-color: rgba($black, .3);
		}
	}

	.chroma {
		background-color: transparent;
	}

	// Error
	.err {
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// LineTableTD
	.lntd {
		vertical-align: top;
		padding: 0;
		margin: 0;
		border: 0;
		
		&:first-child {
			user-select: none
		}

		&:last-child {
			flex-grow: 1;
			padding-left: 1em;

			background-color: $white;
			@if $supportsNight {
				.night & {
					background-color: $black;
				}
			}
		}
	}

	// LineTable
	.lntable {
		border-spacing: 0;
		padding: 0;
		margin: 0;
		border: 0;
		width: auto;
		width: 100%;
		& > tbody > tr {
			display: flex;
		}
	}

	// LineHighlight
	.hl {
		display: block;
		width: 100%;
		color: $light-font;
		@if $supportsNight {
			.night & {
				color: $dark-font;
			}
		}
	}

	// LineNumbersTable
	.lnt {
		margin-right: .5em;
		padding: 0 .5em 0 .5em;
		color: $light-font;
		display: block;
		@if $supportsNight {
			.night & {
				color: $dark-font;
			}
		}
	}

	// LineNumbers
	.ln {
		margin-right: .5em;
		padding: 0 .5em 0 .5em;
		color: $light-font;
		@if $supportsNight {
			.night & {
				color: $dark-font;
			}
		}
	}

	// Keyword
	.k {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// KeywordConstant
	.kc {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// KeywordDeclaration
	.kd {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// KeywordNamespace
	.kn {
		font-weight: bold;
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// KeywordPseudo
	.kp {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// KeywordReserved
	.kr {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// KeywordType
	.kt {
		font-weight: bold;
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// NameAttribute
	.na {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// NameClass
	.nc {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// NameConstant
	.no {
		color: $dark-blue;
		@if $supportsNight {
			.night & {
				color: $light-blue;
			}
		}
	}

	// NameDecorator
	.nd {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// NameException
	.ne {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

		// NameFunction
	.nf {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// NameOther
	.nx {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// NameTag
	.nt {
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// Literal
	.l {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralDate
	.ld {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralString
	.s {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringAffix
	.sa {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringBacktick
	.sb {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringChar
	.sc {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringDelimiter
	.dl {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringDoc
	.sd {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringDouble
	.s2 {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringEscape
	.se {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralStringHeredoc
	.sh {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringInterpol
	.si {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringOther
	.sx {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringRegex
	.sr {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringSingle
	.s1 {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralStringSymbol
	.ss {
		color: $dark-green;
		@if $supportsNight {
			.night & {
				color: $light-green;
			}
		}
	}

	// LiteralNumber
	.m {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberBin
	.mb {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberFloat
	.mf {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberHex
	.mh {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberInteger
	.mi {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberIntegerLong
	.il {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// LiteralNumberOct
	.mo {
		color: $dark-purple;
		@if $supportsNight {
			.night & {
				color: $light-purple;
			}
		}
	}

	// Operator
	.o {
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// OperatorWord
	.ow {
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// Comment
	.c {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentHashbang
	.ch {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentMultiline
	.cm {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentSingle
	.c1 {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentSpecial
	.cs {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentPreproc
	.cp {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// CommentPreprocFile
	.cpf {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}

	// GenericDeleted
	.gd {
		color: $dark-red;
		@if $supportsNight {
			.night & {
				color: $light-red;
			}
		}
	}

	// GenericEmph
	.ge {
		font-style: italic;
	}

	// GenericInserted
	.gi {
		color: $dark-yellow;
		@if $supportsNight {
			.night & {
				color: $light-yellow;
			}
		}
	}

	// GenericStrong
	.gs {
		font-weight: bold;
	}

	// GenericSubheading
	.gu {
		color: $dark-brown;
		@if $supportsNight {
			.night & {
				color: $light-brown;
			}
		}
	}
}
