// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

.mountain {
	visibility: hidden;

	.mountain__range {
		transition: transform 1s;
		width: 100%;
		display: block;
		transform: translateY(0%);
	}
}

.html--ready.html--sticky .mountain {
	visibility: visible;

	.mountain__range {
		transform: translateY(-100%);
	}
}
