// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at https://mozilla.org/MPL/2.0/.

@use "../colors";

$supportsNight: false !default;

.sky {
	visibility: hidden;

	.html--ready.html--sticky & {
		visibility: visible;
	}

	.sky__box {
		overflow-x: hidden;
		position: fixed;
		height: 100vh;
		width: 100%;
	}

	.sky__balloons {
		opacity: .6;
		height: 100%;
		position: relative;
		
		div {
			position: absolute;
		}

		svg.balloon {
			position: absolute;
			top: 0;
			bottom: 0;
			height: auto;
			transform: translateX(-100%);
		}
	}

	.sky__celestial {
		position: relative;
		top: 2rem;
		left: 2rem;

		.sky__sun {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 1s;
			height: 40rem;
			width: 40rem;
			max-width: 50%;
			background: radial-gradient(circle closest-side at center, colors.$light-yellow 0%, colors.$white 10%, transparent 100%);
			transform: translateX(-50%) translateY(-100%);
		}

		.sky__moon {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 1s;
			height: 20rem;
			width: 20rem;
			max-width: 15%;
			background: radial-gradient(circle closest-side at center, rgba(colors.$white, .8) 0%, rgba(colors.$white, .8) 80%, transparent 100%);
			transform: translateX(-50%) translateY(-100%);
		}

		@if $supportsNight {
			.html--ready.html--sticky & .sky__sun {
				transform: translateX(-50%) translateY(-50%);
			}
			.html--ready.html--sticky.night & .sky__sun {
				transform: translateX(-50%) translateY(-100%);
			}
			.html--ready.html--sticky & .sky__moon {
				transform: translateX(-50%) translateY(-100%);
			}
			.html--ready.html--sticky.night & .sky__moon {
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
}
